<div tagId="transResult-{{.Get 0}}" class="text-center"></div>

<script type="text/javascript">
  window.addEventListener('load', () => {
    // Parse query url
    let transArea = window.document.querySelector('[tagId="transResult-{{.Get 0}}"]');
    transArea.innerHTML = '';
    let urlParams = new URLSearchParams(window.location.search);
    let text = '';
    text = urlParams.get('text');
    if (text === '' || text === null || text === undefined) {
      return;
    }

    let styleNumber = 1;
    if (urlParams.has('style')) {
      let style2Param = urlParams.get('style');
      if (style2Param == '2') {
        styleNumber = 2;
      } else {
        BrewingCatsCore.Logger.traceInfo(
          `BOTWBare Component`,
          'component.botwbare',
          'tagId_a',
          'Invalid style from URL',
          {
            'component': 'BOTWBare',
            'style': style2Param
          }
        );
      }
    }
  
    console.log('Style Number: ' + styleNumber);
    text = text.toLowerCase();
    let supportedChars = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','1','2','3','4','5','6','7','8','9','0','-','.','!','?', ' '];
    let imgPath = '/images/content/projects/gaming/botw/alphabet/';
    let imgs = '';
    for(let idx in text) {
      let letter = text[idx]; 
      if (supportedChars.indexOf(letter) == -1) {
        console.log('Ignoring unsupported char: "' + letter + '"');
      } else {
        let fileName;
        switch (letter) {
          case '-':
            fileName = 'dash';
            break;
          case '.':
            fileName = 'dot';
            break;
          case '!':
            fileName = 'exclamation';
            break;
          case '?':
            fileName = 'questionmark';
            break;
          default:
            fileName = letter;
        }
  
        if (letter === ' ') {
          imgs += '<code>    </code>';
        } else {
          imgs += '<img src="' + imgPath + fileName + styleNumber + '.PNG" style="width: 40px; height: 40px; display: inline;" alt="' + letter + '">';
        }
      }
    }

    transArea.innerHTML = imgs;
    BrewingCatsCore.Logger.traceInfo(
      `BOTWBare Component`,
      'component.botwbare',
      'tagId_b',
      'ComponentSetup',
      {
        'component': 'BOTWBare'
      }
    );
  }, false);

</script>