{{/*< card "/images/bmw01.jpg" "cars" "Cars" "For those car aficionados, check our thoughts and work regarding cars" >*/}}
{{/*              0               1      2                                3                                           */}}
<div class="col">
  <div class="card">
    <a href="{{.Get 1 }}" onclick="BrewingCatsCore.LinkActions.openLink('{{.Get 1 }}', '{{.Get 2 }}')" target="_blank">
      <img src="{{.Get 0 }}" class="card-img-top" alt="image from {{.Get 2 }}">
    </a>
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{.Get 1 }}" class="color-inherit dim link"
        onclick="BrewingCatsCore.LinkActions.openLink('{{.Get 1 }}', '{{.Get 2 }}')" target="_blank">
          {{.Get 2 }}
        </a>
      </h5>
      <p class="card-text">
        {{.Get 3 }}
        <small>
          <br>
          <a href="{{.Get 1 }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1"
          target="_blank"
          onclick="BrewingCatsCore.LinkActions.openLink('{{.Get 1 }}', '{{.Get 2 }}')"
          >{{i18n "readMore"}}</a>
        </small>
      </p>
    </div>
  </div>
</div>