{{/* carousel "My Caption" "photo1" "photo2" "photoN" */}}
{{ $captionId := replace (replace (replace (.Get 1) " " "") "," "") "|" ""}}
{{ $lang := .Page.Params.lang }}
{{ $width := .Get 0 }}
{{ $caption := .Get 1 }}
{{ $numOfParams := len .Params }}
<div id="{{ $captionId }}" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" style="width: {{ $width }}; margin: auto;">
  <div class="carousel-indicators">
    {{ range $idx, $item := (seq $numOfParams) }}
      {{ if ge $idx 2 }}
      {{ $target := sub $idx 2 }}
      <button type="button" data-bs-target="#{{ $captionId }}" data-bs-slide-to="{{ $target }}" aria-label="Slide {{ $target }}" class="{{ if gt $target 0 }}{{else}}active{{ end }}"></button>
      {{ end }}
    {{ end }}
  </div>
  <div class="carousel-inner">
    {{ range $idx, $item := (seq $numOfParams) }}
      {{ if and (ge $idx 1) (lt $idx (sub $numOfParams 1)) }}
      {{- $src := $.Get . }}
      {{ $target := sub $idx 1 }}
      <div class="carousel-item {{ if gt $target 0 }}{{else}}active{{ end }}">
        <img src="{{ $src }}" class="d-block w-100" alt="{{ $caption }}" style="margin: auto;">
      </div>
      {{ end }}
    {{ end }}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ $captionId }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{if $lang | eq "en" }}Previous{{ else }}Anterior{{ end }}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ $captionId }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{if $lang | eq "en" }}Next{{ else }}Siguiente{{ end }}</span>
  </button>
</div>
<div class="col align-self-center">
  <p id='carousel-label-{{ $captionId }}' style="text-align: center; font-style: italic;">{{ $caption }}</p>
</div>
<br>
<script>
  BrewingCatsCore.Logger.traceInfo(
    `Carousel Component`,
    'component.carousel',
    'tagId_e',
    'ComponentSetup',
    {
      'component': 'Carousel'
    }
  );

  (() => {
    let entries = '{{ $caption }}'
    if (!entries.includes('|')) {
      return;
    }

    let captions = entries.split('|');
    let carouselLabel = document.getElementById('carousel-label-{{ $captionId }}');
    carouselLabel.innerText = captions[0];
    document.getElementById('{{ $captionId }}').addEventListener('slide.bs.carousel', (e) => {
      carouselLabel.innerText = captions[e.to];
    });
  })();
</script>