{{ $lang := .Get 0}}
{{ $parsed := cond (eq $lang "en") "Parsed!" (cond (eq $lang "es") "Analizado!" "Parsed!") }}
{{ $invalidUrl := cond (eq $lang "en") "Invalid URL" (cond (eq $lang "es") "URL Incorrecta" "Invalid URL") }}
<script type="text/javascript">
  function LoadInstagramPost() {
    let inputVal = window.document.getElementById('instagram-url-input').innerHTML;
    BrewingCatsCore.Logger.traceInfo(
      `Instaparser Component`,
      'component.instaparser',
      'tagId_f',
      'ComponentInteraction',
      {
        'component': 'Instaparser',
        'input': `${inputVal}`
      }
    );

    if (inputVal !== '' && inputVal !== null) {
      let isValidUrl = validURL(inputVal);
      if (!isValidUrl) {
        window.document.getElementById('parseButton').tooltip('show');
        let tooltipId = window.document.getElementById('parseButton').getAttribute('aria-describedby');
        window.document.querySelector(`${tooltipId} div.tooltip-inner`).innerHTML = "{{ $invalidUrl }}";
        window.document.getElementById('parseButton').classList.remove('btn-primary');
        window.document.getElementById('parseButton').classList.add('btn-danger');

        setTimeout(() => {
          window.document.getElementById('parseButton').tooltip('hide');
          window.document.getElementById('parseButton').classList.remove('btn-danger');
          window.document.getElementById('parseButton').classList.add('btn-primary');
        }, 1000);
      } else {
        let instaUrl = new  URL(inputVal);
        if (instaUrl.pathname.startsWith('/p/')) {
          let segment = instaUrl.pathname.replace('/p/', '').replace('/', '');
          window.document.getElementById('instagramFragmentCode').innerHTML = segment;
          window.document.getElementById('instagramUrlSearch').innerHTML = `?insta=${segment}`;
          window.document.getElementById('urlToEmbedLink').setAttribute('href', `/posts/instagram/?insta=${segment}`);
          window.document.getElementById('instagramUrlCode').innerHTML = `${location.origin}/posts/instagram/?insta=${segment}`;
          let lang = "{{ $lang }}";
          let tag = '';
          if (lang === "en") {
            tag = 'Insta-Auto-Embed-Here';
          } else if (lang === "es") {
            tag = 'Instagram-Embebido-Aqui';
          }

          window.AutoInstagram.Control.QueryAndAddInstagramPost(segment, tag);
          window.document.getElementById('urlToEmbedLink').tooltip('show');
          window.document.getElementById('parseButton').tooltip('show');
          
          setTimeout(() => { 
            window.document.getElementById('urlToEmbedLink').tooltip('hide');
            window.document.getElementById('parseButton').tooltip('hide');
          }, 1000);
        } else {
          // Telemetry
          window.document.getElementById('parseButton').tooltip('show');
          let tooltipId = window.document.getElementById('parseButton').getAttribute('aria-describedby');
          window.document.getElementById(`${tooltipId} div.tooltip-inner`).innerHTML = "{{ $invalidUrl }}";
          window.document.getElementById('parseButton').classList.remove('btn-primary');
          window.document.getElementById('parseButton').classList.add('btn-danger');

          setTimeout(() => {
            window.document.getElementById('parseButton').tooltip('hide');
            window.document.getElementById('parseButton').classList.remove('btn-danger');
            window.document.getElementById('parseButton').classList.add('btn-primary');
          }, 1000);
        }
      }
    } else {
      window.document.getElementById('parseButton').tooltip('show');
      let tooltipId = window.document.getElementById('parseButton').attributes.getNamedItem('aria-describedby').value;
      window.document.getElementById(`${tooltipId} div.tooltip-inner`).innerHTML = "{{ $invalidUrl }}";
      window.document.getElementById('parseButton').classList.remove('btn-primary');
      window.document.getElementById('parseButton').classList.add('btn-danger');

      setTimeout(() => {
        window.document.getElementById('parseButton').tooltip('hide');
        window.document.getElementById('parseButton').classList.remove('btn-danger');
        window.document.getElementById('parseButton').classList.add('btn-primary');
      }, 1000);
    }
  }
  
  function CopyPostId() {
    // Add telemetry
    let lang = "{{ $lang }}";
    if (lang === 'en') {
      lang = 'Copied!';
    }

    if (lang === 'es') {
      lang = 'Copiado!'
    }
    
    window.document.getElementById('copyFragmentArea').innerHTML = window.document.getElementById('instagramUrlSearch').innerHTML;
    window.document.getElementById('copyFragmentArea').style.display = 'block';
    window.document.getElementById('copyFragmentArea').select();
    
    document.execCommand('copy');
    window.document.getElementById('copyFragmentArea').style.display = 'none';
    let tooltipId = window.document.getElementById('copyFragmentButton').attributes.getNamedItem('aria-describedby').value;
    window.document.querySelector(`${tooltipId} div.tooltip-inner`).innerText = lang;
  }
  
  function CopyUrl() {
    // Add telemetry
    let lang = "{{ $lang }}";
    if (lang === 'en') {
      lang = 'Copied!';
    }

    if (lang === 'es') {
      lang = 'Copiado!'
    }

    window.document.getElementById('copyUrlArea').innerHTML = window.document.getElementById('instagramUrlCode').innerText;
    window.document.getElementById('copyUrlArea').style.display = 'block';
    window.document.getElementById('copyUrlArea').select();
    document.execCommand('copy');
    
    window.document.getElementById('copyUrlArea').style.display = 'none';
    let tooltipId = window.document.getElementById('copyUrlButton').attributes.getNamedItem('aria-describedby').value;
    window.document.querySelector(`${tooltipId} div.tooltip-inner`).innerHTML = lang;
  }

  function validURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
      '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
      '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
      '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
      '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
      '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(str);
  }

  function Localize() {
    let lang = "{{ $lang }}";
    if (lang === "es") {
      window.document.getElementById('enterInstagramPost').innerHTML = 'Ingrese el URL de la Foto de Instagram:';
      window.document.getElementById('parseButton').innerHTML = 'Extraer';
      window.document.getElementById('instagram-postId-field'),innerHTML = 'Identificador de Foto de Instagram';
      window.document.getElementById('instagramFragmentCode').innerHTML = 'ninguno';
      window.document.getElementById('copyFragmentButton').innerHTML = 'Copiar';
      window.document.getElementById('copyFragmentButton').attributes.setNamedItem('title', 'Copiar Fragmento');
      window.document.getElementById('urlToEmbedLink').innerHTML = 'URL para embeber';
      window.document.getElementById('urlToEmbedLink').attributes.setNamedItem('title', 'Actualizado!');
      window.document.getElementById('instagramUrlCode').innerHTML = 'ninguna';
      window.document.getElementById('copyUrlButton').innerHTML = 'Copiar';
      window.document.getElementById('copyUrlButton').attributes.setNamedItem('title', 'Copiar URL');
    }
  }
</script>

<label for="instagram-url-input" id="enterInstagramPost" >Enter Instagram Post:</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="instagram-url-field">URL</span>
  </div>
  <input type="text" class="form-control" id="instagram-url-input" aria-describedby="instagram-url-field">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" onclick="LoadInstagramPost()" id="parseButton"
    data-toggle="tooltip" data-placement="right" title="{{ $parsed }}" data-animation="true" data-trigger="manual">Parse</button>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="instagram-postId-field">Instagram Post ID</span>
  </div>
  <label id="instagram-postId-code" class="form-control"><code id="instagramFragmentCode">none</code></label>
  <div class="input-group-append">
    <label id="instagram-postId-codeSearch" class="input-group-text"><code id="instagramUrlSearch">?insta=fragment</code></label>
    <button class="btn btn-dark" type="button" onclick="CopyPostId()" id="copyFragmentButton" 
    data-toggle="tooltip" data-placement="right" title="Copy Fragment" data-animation="true">Copy</button>
    <input type="text" id="copyFragmentArea" style="display: none;">
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="instagram-embedded-field">
      <a href="/posts/instagram/" target="_blank" id="urlToEmbedLink"
      style="color: rgb(34, 34, 34); box-shadow: rgb({{ $.Page.Site.Params.theme_color }}) 0px -4px 0px inset;"
      data-toggle="tooltip" data-placement="right" title="Updated!" data-animation="true" data-trigger="manual">URL to embed</a>
    </span>
  </div>
  <label id="instagram-postId-codeUrl" class="form-control"><code id="instagramUrlCode">none</code></label>
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" onclick="CopyUrl()" id="copyUrlButton" 
    data-toggle="tooltip" data-placement="right" title="Copy URL" data-animation="true">Copy</button>
    <input type="text" id="copyUrlArea" style="display: none;">
  </div>
</div>
<script type="text/javascript">
  Localize();

  window.addEventListener('onload', () => {
    window.document.querySelector('[data-toggle="tooltip"]').tooltip({delay: { "show": 200, "hide": 300 }});
  }, false);
</script>