{{ $name := .Get "name"}}

<button type="button" class="btn btn-primary position-relative">
  <span id="{{ $name }}-size-1">Top Res</span>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <span id="{{ $name }}-count-1">1</span>
    <span class="visually-hidden">Top Resolution</span>
  </span>
</button>
<br>
<br>
<button type="button" class="btn btn-primary position-relative">
  <span id="{{ $name }}-size-2">Second Res</span>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <span id="{{ $name }}-count-2">1</span>
    <span class="visually-hidden">Second to Top Resolution</span>
  </span>
</button>
<br>
<br>
<button type="button" class="btn btn-primary position-relative">
  <span id="{{ $name }}-size-3">Third Res</span>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <span id="{{ $name }}-count-3">1</span>
    <span class="visually-hidden">Third to Top Resolution</span>
  </span>
</button>
<script>
  (() => {
    let monthIds = [
      window.BrewingCatsCore.TelemetryReader.getNthId(0),
      window.BrewingCatsCore.TelemetryReader.getNthId(1),
      window.BrewingCatsCore.TelemetryReader.getNthId(2),
    ];

    window.BrewingCatsCore.TelemetryReader.queryTelemetryData(
      '{{ $name }}',
      monthIds,
      (data) => {
        return data.filter(item => item.tagId === 'tagId_1');
      },
      (data) => {
        let resolutions = {};
        data.forEach(d => {
          let resLabel = `${d.width}x${d.height}`;
          if (resolutions[resLabel] === undefined) {
            resolutions[resLabel] = 0;
          }

          resolutions[resLabel]++;
        });

        let res = [];
        for (let prop in resolutions) {
          res.push({
            resolution: prop,
            count: resolutions[prop]
          });
        }
        
        res.sort((a, b) => {
          if (a.count < b.count) return 1;
          if (a.count > b.count) return -1;
          return 0;
        });

        let appName = "{{ $name }}";
        for (let i = 1; i <= 3; i++) {
          document.getElementById(`${appName}-size-${i}`).innerHTML = res[i].resolution;
          document.getElementById(`${appName}-count-${i}`).innerHTML = res[i].count;
        }
      }
    );
  })();
</script>